<h2>AddPost</h2>

<form action="/home/addpost" class="form-control" method="post"enctype="multipart/form-data">
    <label>Title</label>
    <input type="text" name="title" />
    <label>Content</label>
    <input type="text" name="content" />
    <label>Picture</label>
    <input type="file" name="pic" id="modalPic" />
    <button type="submit" class="btn-success">Submit</button>
</form>


