<h2>SignUp</h2>
<div class="container">
    <form class="form-group" method="post" action="/home/newuser">
        <label>UserName</label>
        <input id="username-text" type="text" name="name" /><h1 id="nonvalid-user"></h1>
        <label>Password</label>
        <input type="text" name="password" />
        <button type="submit" class="button btn-success ">Submit</button>
    </form>

</div>
@section scripts{
    <script src="/Scripts/Signup.js"></script>
}
