<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
      <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
    </configSections>
    <aws region="us-west-2">
      <add key="AWSProfileName" value="default"/>
      <add key="AWSProfilesLocation" value="C:\Users\ytc92\.aws\credentials"/>
    </aws>

    <connectionStrings>
        <add name="PostDatabase.Properties.Settings.PostsWebsiteConnectionString"
            connectionString="Data Source=LAPTOP-6JDKR5MU\SQLEXPRESS;Initial Catalog=PostsWebsite;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>